* {
    /* width: 100%; */
    /* height: 100%; */
    /* font-size: 16px;
    font-family: 'Inter';
    font-family: 'Raleway', sans-serif; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: white; */
}

html, body{
    overflow-x: hidden;
}

body {
    height: 100vh;
    background: linear-gradient(to right, rgba(199,199,199,1) 0%, rgba(194,194,194,1) 50%, rgba(184,184,184,1) 51%, rgba(224,224,224,1) 100%);
    /* background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); */
    /* background: linear-gradient(to bottom, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); */
}

.main-container {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 50px auto;
    background-color: darkblue;
    /* padding: 10px; */
    color: white;
}

#canvas-box {
    /* width: 80%;
    margin: 50px auto; */
    background-color: #5A4978;
    /* width: 100%; */
    padding: 10px;
}

#instructions {
    padding: 10px;
}

h1 ~ p {
    font-size: 24px;
    padding: 10px;
    text-align: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

div#list p {
    /* list-style-type: square; */
    line-height: 1.2em;
    font-size: 18px;
    letter-spacing: 0.1em;
    margin: 20px auto;
}

h1 {
    font-size: 28px;
    margin: 20px auto;
    letter-spacing: 0.05em;
}

#canvas {
    background-color: #eeebeb;
    border: 1px solid #5A4978;
    border-radius: 50%;
}

#frame-canvas {
    background-color: #eeebeb;
    border: 1px solid #5A4978;
    /* border-radius: 65px 4px 65px 4px;
    -moz-border-radius: 65px 4px 65px 4px;
    -webkit-border-radius: 65px 4px 65px 4px; */
}

img#img-frame {
    /* border: 1px solid #eeebeb; */
    /* border-radius: 65px 4px 65px 4px;
    -moz-border-radius: 65px 4px 65px 4px;
    -webkit-border-radius: 65px 4px 65px 4px; */
}

#frame {
    display: none;
    background-color: #5A4978;;
    max-width: 100%;
    /* width: 80%; */
    margin: 20px auto;
    padding: 10px;
    /* max-width: 100%;
    width: 50%;
    margin: 0 auto; */
    height: auto;
    text-align: center;
}

#frame p, #img-caption {
    color: white;
    font-size: 22px;
    /* text-align: center; */
    font-style: italic;
    padding: 15px;
}

#frame span, figcaption span {
    font-style: italic;
    font-weight: 600;
    color: rgb(255, 62, 28);
    font-size: 24px;
    text-transform: uppercase;
}

#imageUpload {
    display: none;
}

#file-image{
    /* width: 50%; */
    /* margin: 0 auto;
    border: 1px solid red; */
}

p#previewImage, #image-frame-preview {
    display: none;
}

#image-preview {
    /* max-width: 100%;
    width: 5%;
    height: auto; */
    /* border: 1px solid rgb(49, 49, 235); */
    /* border-radius: 50%; */
}

button[type=button], input[type=button] {
    border-radius: 30px;
    padding: 15px;
    max-width: 100%;
    /* border: 1px solid red; */
    /* width: 60%; */
    height: auto;
    margin: 0 35px;
    background-color: #100229;
    border: 1px solid #100229;
    outline: none;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    /* margin: 0 auto; */
}

button[type=button]#btn-click-file:hover{
    background-color: rgba(16, 2, 41, 0.5);
    border: 1px solid rgba(16, 2, 41, 0.5);
    outline: none;
}

button[type=button]#generate{
    width: 70%;
    margin: 20px 35px;
    background-color: white;
    border:1px solid white;
    color: #5A4978;
    /* font-size: 1.2em;
    font-weight: 600; */
}

input[type=button] {
    /* width: 30%; */
    font-size: 16px;
    padding: 10px;
    margin: 0 0;
}

input[type=button].hide-btn {
    display: none;
}

button i.fa-camera {
    /* color: transparent; */
}

#form-div {
    max-width: 100%;
    /* width: 50%; */
    margin: 20px auto;
}

div#input-text {
    margin: 20px auto;
}

label {
    font-size: 1.5em;
    font-weight: 600;
}

input#name {
    width: 80%;
    border-radius: 10px;
    outline: none;
    padding: 15px;
    border:1px solid #5A4978;
}

#image-frame {
    display: none
}

#back-div {
    font-size: 22px;
    padding: 15px;
}
a#here {
    font-size: 1.7em;
    color: darkblue;
}

@media only screen and (min-width: 768px) {
    #canvas-box {
        text-align: center;
    }

    #input-text {
        display: inline;
        
        /* justify-content: center; */
    }

    input#name {
        width: 60%;
        margin: auto 10px;
    }

    #file-image {
        /* margin: 30px auto 0;
        position: relative; */
        /* left: 50px; */
        /* position: relative; */
        /* border: 1px solid red; */
    }

    #canvas {
        margin: -30px auto 0;
       /* position: relative; */
       /* top: -35px; */
       /* bottom: 5%; */
    }

    button[type=button] {
        width: 40%;
        padding: 20px;
    }

    button[type=button]#btn-click-file, input[type=button].hide-btn {
        margin: 30px auto 0;
        position: relative;
        top: 10px;
        left: 19%;
    }

    input[type=button]#change {
        /* display: inline; */
    }

    button[type=button]#generate{
        width: 40%;
        margin: 20px auto;
    }

    #frame {
        /* margin: 60px auto; */
        width: 80%;
        /* height: 50%; */
        position: relative;
        /* top: 50px; */
    }
    
}

@media only screen and (min-width: 1200px) {
    .main-container {
        border-radius: 10px;
        width: 90%;
        margin: 50px auto;
    }

    #main-content {
        display: flex;
        justify-content: space-between;
    }

    #instructions {
        margin: 150px auto;
    }

    #canvas-box {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

     #canvas {
        margin: 20px auto 20px;
       position: relative;
       left: -55px;
       /* bottom: 5%; */
    }

    button[type=button] {
        width: 60%;
        /* padding: 15px; */
    }

    button[type=button]#btn-click-file, input[type=button].hide-btn {
        margin: 30px auto 0;
        position: relative;
        top: 10px;
        left: 17%;
        
        /* border: 1px solid red; */
    }

    button[type=button]#generate{
        width: 62%;
        position: relative;
        left: 16%;
    }

    #frame {
        margin: 100px auto;
        width: 60%;
    }
}